agm-map {
    height: 400px;
    width: 800px;
  }
.googlemap {
  margin-top: 25px;
  margin-bottom: 25px;
  
}
.region {
  float: left;
  border-radius: 15px;
  border: 2px solid #000000;
  background: #fff3e8;
  padding: 30px;
  margin-right: 30px;
  width: 300px;
  height: 100px;
  word-wrap: break-word;
  font-weight: bold;
}
