
<div class="container">
        <br>
        <h4 class="text-center">RegionPreference</h4>
        <hr />
        <div class="row">
                <div class="googlemap" class="col-lg-8">
                        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapDblClick($event)">
                            <agm-circle *ngFor="let data of client.regions ; let i = index"
                                [latitude]="data.latitude"
                                [longitude]="data.longitude"
                                [circleDraggable]="true"
                                [editable]="true"
                                [fillColor]="data.color"
                                [radius]="data.radius"
                                [id]="data.id"
                                (radiusChange)="radiusChange($event, i)"
                                (centerChange)="centerChange($event, i)"
                            >
                            </agm-circle>
                        </agm-map>
                </div>
        </div>
    <br>
        <div class="row">
                <div  class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <a id="btn-save" class="btn btn-success" (click)="saveRegion()">Save Regions</a>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <a id="btn-delete" class="btn btn-danger" (click)="deleteRegion()">Delete Region</a>
                    </div>
                </div>

      </div>
        <div class="row">
                <div class="col-lg-4 ">
                    <table class=" table table-bordered region" id="Region1" *ngFor="let data of client.regions ; let i = index">
                        <tr>
                            <td><b>ID :</b></td>
                            <td id="name1">{{client.regions[i].id}}</td>
                        </tr>
                        <tr>
                            <td><b>Latitude :</b></td>
                            <td>{{client.regions[i].latitude}}</td>
                        </tr>
                        <tr>
                            <td><b>Longitude :</b></td>
                            <td>{{client.regions[i].longitude}}</td>
                        </tr>
                        <tr>
                            <td><b>Radius :</b></td>
                            <td>{{client.regions[i].radius}}</td>
                        </tr>
                    </table>
                </div>
          </div>
   
</div>

