<p>
  regions works!
</p>

<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapDblClick($event)">
  <agm-circle *ngFor="let data of regions"
  [latitude]="data.lat"
  [longitude]="data.lng"
  [circleDraggable]="true"
  [editable]="true"
  [fillColor]="data.color"
  [radius]="data.radius"
>
</agm-circle>
  </agm-map>
  <div class="row">
    <div  class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">
            <a id="btn-save" class="btn btn-success">Save Regions</a>
        </div>
    </div>

    <div class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">
            <a id="btn-delete" class="btn btn-danger" (click)="deleteRegion()">Delete Region</a>
        </div>
    </div>

</div>