
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/Preferences.css">

<div class="container">

    <div class="row center-block">
        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black">
                <img src="~/images/WeatherIconWeb.png">
                Edit Weather Preferences
            </button>
        </div>
   

        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black">
                <img src="~/images/TrafficIconWeb.png">
                Edit Traffic Preferences
            </button>
        </div>
        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black">
                <img src="~/images/NewsIconWeb.png">
                Edit News Preferences
            </button>
        </div>
    </div>

    <br />
    <div class="row ">
        <div class="col-md-2 RegionButton"></div>
        <div class="col-md-4 RegionButton">
                <button class="btn-primary" style="color:black" onclick="location.href='@Url.Action("Regions", "Account")'" />
                <img src="~/images/RegionIconWeb.png">
                Edit Regions
                </button>
         </div>
        <div class="col-md-4 RegionButton"></div>
    </div>  

</div>