
@{
    ViewData["Title"] = "My Google Maps Demo";
}

@*https://developers.google.com/maps/documentation/javascript/examples/drawing-tools*@

<h3>Location Regions</h3>

<div id="map" style="height: 400px; width: 100%;"></div>

@section Scripts {
    <script>
        function initMap() {
            var uluru = { lat: 39.952584, lng: -75.165222 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });

            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: google.maps.drawing.OverlayType.MARKER,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['circle']
                },
                markerOptions: { icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' },
                circleOptions: {
                    fillColor: '#f45642',
                    fillOpacity: 0.5,
                    strokeWeight: 1,
                    clickable: false,
                    editable: true,
                    zIndex: 1
                }
            });
            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'circlecomplete', function (circle) {
                var radius = circle.getRadius();
                console.log(radius);
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqINRPfJaUcmFkhziYrl3KgMY3NYCG4uQ&libraries=drawing&callback=initMap">
    </script>
}
