
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/Preferences.css">

<div class= "buttonWrapper">
    <button class="buttonPref">
        <img src="~/images/WeatherIcon.png">
        Edit Weather Preferences
    </button>
</div>  