@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/RegionC.css">

<div class="region">
    <table id="Region1">
        <tr>
            <td><b>Name :</b></td>
            <td id="name1">Name value</td>
        </tr>
        <tr>
            <td><b>Latitude :</b></td>
            <td>Latitude Value</td>
        </tr>
        <tr>
            <td><b>Longitude :</b></td>
            <td>Longitude Value</td>
        </tr>
        <tr>
            <td><b>Radius :</b></td>
            <td>Radius Value</td>
        </tr>
    </table>
</div>

<div class="region">
    <table id="Region2">
        <tr>
            <th><b>Name :</b></th>
            <th> Name value</th>
        </tr>
        <tr>
            <td><b>Latitude :</b></td>
            <td>Latitude Value</td>
        </tr>
        <tr>
            <td><b>Longitude :</b></td>
            <td>Longitude Value</td>
        </tr>
        <tr>
            <td><b>Radius :</b></td>
            <td>Radius Value</td>
        </tr>
    </table>
</div>

<div class="region">
    <table id="Region3">
        <tr>
            <th><b>Name :</b></th>
            <th> Name value</th>
        </tr>
        <tr>
            <td><b>Latitude :</b></td>
            <td>Latitude Value</td>
        </tr>
        <tr>
            <td><b>Longitude :</b></td>
            <td>Longitude Value</td>
        </tr>
        <tr>
            <td><b>Radius :</b></td>
            <td>Radius Value</td>
        </tr>
    </table>
</div>



