<div class="jumbotron">
      <h2>
          You have been succesfuly logged out
      </h2>
</div>

  <!-- Footer -->
<footer class="panel-footer">
    <div class="container">
        <div class="row">
            <section class="col-sm-4">
                
            </section>
            <section  class="col-sm-4">
           
            </section>
            <section class="col-sm-4">
               
            </section>
        </div>
        <div class="text-center">&copy; Copyright 2018</div>
    </div>
</footer>