<div class="container signin">
    <div class="jumbotron col-lg-8 jumbo">
   
   <br>
   <h4 class="text-center">Sign In</h4>
   <hr />
    <div id="loginbox"  class="col-lg-8">
        <div class="panel panel-info">
          
            <div class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input [(ngModel)]="client.email" type="text" class="form-control" name="username" placeholder="Email Address">
                    </div>
                     <br>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div  class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <a id="btn-login"  class="btn btn-success" (click)="loginButton()">Login</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <a id="btn-login" class="btn btn-success" (click)="registerButton()">Register  </a>
                            </div>
                        </div>

                    </div>

                   
                </form>

            </div>
        </div>
    </div>
</div>

</div>

<footer class="panel-footer">
        <div class="container">
            <div class="row">
                <section class="col-sm-4">
                    
                </section>
                <section  class="col-sm-4">
               
                </section>
                <section class="col-sm-4">
                   
                </section>
            </div>
            <div class="text-center">&copy; Copyright 2017</div>
        </div>
    </footer>
    

