<div class="container pref">
    <div class="row center-block">
        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black" (click)="goWeather()">
                <img src="assets/images/WeatherIconWeb.png">
                Edit Weather
            </button>
        </div>

        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black">
                <img src="assets/images/TrafficIconWeb.png">
                Edit Traffic
            </button>
        </div>
        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black">
                <img src="assets/images/NewsIconWeb.png">
                Edit News
            </button>
        </div>
    </div>

    <br>
    <div class="row center-block">
        <div class="col-md-4 buttonWrapper"></div>
        <div class="col-md-4 buttonWrapper">
            <button class="btn-primary" style="color:black" (click)="goRegions()">
                <img src="assets/images/RegionIconWeb.png">
                Edit Regions
            </button>
        </div>
        <div class="col-md-4 buttonWrapper"></div>
    </div>
</div>

