#header-nav {
    background-color: #475363;
    border-radius: 0;
    border: 0;
    margin: 0 0 0 0;
}
#logoHome-img {
    background: url('/assets/images/logo-img.png') no-repeat;
    width: 150px;
    height: 150px;
  }
  #logoPreference-img {
    background: url('/assets/images/Preference-img.png') no-repeat;
    width: 150px;
    height: 150px;
  }
 
  h1 { 
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
 