<head>
  <base href="/">
</head>


<header>
 
    <div id="header-nav">
        <div class="container">
            <div class="row">
                  <div class="col-lg-6">
                      <div class="col-lg-2">
                        <a routerLink="home">
                          <div id="logoHome-img"></div>
                        </a>
                      </div>
                      <div class="col-lg-4">
                        <a routerLink="home"><h1>Location Alert</h1></a>             
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <a routerLink="preferences">
                        <div id="logoPreference-img"></div>
                        <h1>Prefrences</h1></a>
                  </div>
            </div>
        </div>
    </div>
   
</header>

<!-- <app-home></app-home> -->


<router-outlet></router-outlet>