
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<body>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Enter Your Details Here
                </div>
                <div class="panel-body">
                    <form name="myform">
                        <div class="form-group">
                            <label for="firstname">First Name *</label>
                            <input id="firstname" name="firstname" class="form-control" type="text" data-validation="required">
                            <span id="error_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="middle">Middle Initial*</label>
                            <input id="middle" name="middle" class="form-control" type="text" data-validation="required">
                            <span id="error_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name *</label>
                            <input id="lastname" name="lastname" class="form-control" type="text" data-validation="email">
                            <span id="error_lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Addresss*</label>
                            <input id="email" name="email" class="form-control" type="text" data-validation="email">
                            <span id="error_lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number *</label>
                            <input type="text" id="phone" name="phone" class="form-control">
                            <span id="error_phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="disc">Discription</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>

                        <button id="submit" type="submit" value="submit" class="btn btn-primary center">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>