<div class="container">
  <br>
  <h4 class="text-center">WeatherPreference</h4>
  <hr />
<form id="WeatherPreference">
  <div class="form-group">
    <div class="col-lg-4">
      <label><b>How often should we push you alerts?</b></label>
        <br>
      <label for="pushHours">Hours:</label>
      <input type="number" class="form-control" name="pushHours" [(ngModel)]="weatherPref.pushHours">
    </div>
    
    <div class="col-lg-4">
      <label for="pushMinutes">Minutes:</label>
      <input type="number" class="form-control" name="pushMinutes" [(ngModel)]="weatherPref.pushMinutes">
    </div>
  </div>

  <div class="form-group">
      <div class="col-lg-4">
         <label><b>Temperature Preferences:</b></label>
         <br>
         <input type="checkbox" id="AlwaysTemp" name="AlwaysTemp" [(ngModel)]="weatherPref.alwaysTemp">
    
         <label for="AlwaysTemp">Always Push Temperature Updates</label>

         <nouislider [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="weatherPref.temp" name="temp"></nouislider>
     </div>
  </div>

  <div class="form-group">
      <div class="col-lg-4">
          <label><b>Rain Preferences:</b></label>
          <br>
          <input type="checkbox" id="AlwaysRain" name="AlwaysRain" [(ngModel)]="weatherPref.alwaysRain">
          <label for="AlwaysRain">Always Push Rain Updates</label>

          <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="weatherPref.rain" name="rain"></nouislider>
          <div id="rain-range"></div>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-4">
        <label><b>Snow Preferences:</b></label>
        <br>
        <input type="checkbox" id="AlwaysSnow" name="AlwaysSnow" [(ngModel)]="weatherPref.alwaysSnow">
        <label for="AlwaysSnow">Always Push Snow Updates</label>

        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="weatherPref.snow" name="snow"></nouislider>
        <div id="snow-range"></div>
    </div>
  </div>

  <div class="form-group">
      <div class="col-lg-4">
        <label><b>Cloudiness Preferences:</b></label>
        <br>
        <input type="checkbox" id="AlwaysCloud" name="AlwaysCloud" [(ngModel)]="weatherPref.alwaysCloud">
        <label for="AlwaysCloud">Always Push Cloudiness Updates</label>

        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="weatherPref.cloud" name="cloud"></nouislider>
        <div id="cloud-range"></div>
      </div>
    </div>

  <div class="form-group">
      <div class="col-lg-4">
        <label><b>Wind Preferences:</b></label>
        <br>
        <input type="checkbox" id="AlwaysWind" name="AlwaysWind" [(ngModel)]="weatherPref.alwaysWind">
        <label>Always Push Wind Updates</label>

        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="weatherPref.wind" name="wind"></nouislider>
        <div id="wind-range"></div>
      </div>
  </div>

  <div class="form-group">
      <div class="col-lg-4">
        <label><b>Humidity Preferences:</b></label>
        <br>
        <input type="checkbox" id="AlwaysHumidity" name="AlwaysHumidity" [(ngModel)]="weatherPref.alwaysHumidity">
        <label>Always Push Humidity Updates</label>

        <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="weatherPref.humidity" name="humidity"></nouislider>
        <div id="humidity-range"></div>
     </div>
  </div>
  <div class="row">
      <div class="form-group ">
        <input type="button" value="Save" (click)="onSave()" class="btn btn-primary" />
      </div>
      <div class="form-group">
        <input type="button" value="Back" (click)="onBack()" class="btn btn-dark" />
      </div>
  </div>
</form>

</div>
